    <div class=center>
        <img src="img/[% board %]_day.svg" width="1030" />
        <img src="img/[% board %]_week.svg" width="1030" />
        <img src="img/[% board %]_month.svg" width="1030" />
        <img src="img/[% board %]_year.svg" width="1030" />
    </div>
