[% INCLUDE head.tmpl %]
    <div class="center">
        <p>
        [% FOREACH board_list %]
        <a href="?view=board&board_id=[% board_id %]">[% board %]</a>([% thread_count %])
        [% END %]
        </p>
        <p>
            <a href=?view=top_ten&type=files>Top 10 Images</a>
            <a href=?view=top_ten&type=subjects>Top 10 Subjects</a>
            <a href=?view=show_files>Show Files</a>
            <a href=?view=tags>Tags</a>
        </p>
        <p>
            Total Posts: [% total_posts %] | Total Files: [% total_files %]
        </p>
    </div>
