    [% FOREACH post IN post_list %]
    <table class=thread>
        <tr class=head>
            <td>
                <a href="?view=board&board_id=[% post.board_id %]">[% post.board %]</a>/<a href="?view=thread&thread_id=[% post.thread_id %]&board_id=[% post.board_id %]">[% post.thread_id %]</a>/<a href="?view=thread&thread_id=[% post.thread_id %]&board_id=[% post.board_id %]#[% post.post_id %]">[% post.post_id %]</a> | 
                <span class=subject>[% post.subject %]</span> | 
                <span class=username>[% post.user %]</span> | [% post.date %]
            </td>
        </tr>
        <tr>
            <td>
                [% post.text %]
            </td>
        </tr>
    </table>
    [% END %]
    <div class=margin>
        <p>
            [% time %] seconds
        </p>
    </div>
