    <table>
        <tr>
        [% FOREACH file IN file_list %]
            <td>
                [% file.thumb %]
                <ul class=postlist>
                [% FOREACH b IN file.board_list %]
                    <li>
                        <a href="?view=board&board_id=[% b.board_id %]">[% b.board %]</a>/<a href="?view=thread&board_id=[% b.board_id %]&thread_id=[% b.thread_id %]">[% b.thread_id %]</a>/<a href="?view=thread&board_id=[% b.board_id %]&thread_id=[% b.thread_id %]#[% b.post_id %]">[% b.post_id %]</a>/
                        [% b.filename %]
                    </li>
                [% END %]
                </ul>
            </td>
            [% UNLESS loop.count mod 5 %]
                </tr><tr>
            [% END %]
        [% END %]
        </tr>
    </table>
    <div class=margin>([% time %] seconds)</div>
